parameters:
	ignoreErrors:
		-
			message: '#^Action callback returns mixed but should not return anything\.$#'
			identifier: return.void
			count: 2
			path: includes/class-dashboard-directory-size-common.php

		-
			message: '#^Call to function is_array\(\) with array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: includes/class-dashboard-directory-size-common.php

		-
			message: '#^Constant DB_NAME not found\.$#'
			identifier: constant.notFound
			count: 2
			path: includes/class-dashboard-directory-size-common.php

		-
			message: '#^Filter callback return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: includes/class-dashboard-directory-size-common.php

		-
			message: '#^Method Dashboard_Directory_Size_Common\:\:filter_get_directory_size\(\) with return type void returns int but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: includes/class-dashboard-directory-size-common.php

		-
			message: '#^Method Dashboard_Directory_Size_Common\:\:get_custom_dir\(\) should return array but returns null\.$#'
			identifier: return.type
			count: 1
			path: includes/class-dashboard-directory-size-common.php

		-
			message: '#^Variable \$custom_dir_list in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: includes/class-dashboard-directory-size-common.php

		-
			message: '#^Variable \$parts in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: includes/class-dashboard-directory-size-common.php

		-
			message: '#^Variable \$upload_dir in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: includes/class-dashboard-directory-size-common.php

		-
			message: '#^Constant DASHBOARD_DIRECOTRY_SIZE_ROOT not found\.$#'
			identifier: constant.notFound
			count: 1
			path: includes/class-dashboard-directory-size-settings.php

		-
			message: '#^Parameter \#3 \$args of function register_setting expects array\{type\?\: string, label\?\: string, description\?\: string, sanitize_callback\?\: callable\(\)\: mixed, show_in_rest\?\: array\|bool, default\?\: mixed\}, ''Dashboard_Directory…'' given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-dashboard-directory-size-settings.php

		-
			message: '#^Parameter \#4 \$autoload of function add_option expects bool\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-dashboard-directory-size-settings.php

		-
			message: '#^Call to function is_array\(\) with string will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: includes/sanitizers.php

		-
			message: '#^Function DashboardDirectorySize\\Sanitizers\\sanitized_post_array\(\) should return string but returns array\.$#'
			identifier: return.type
			count: 1
			path: includes/sanitizers.php

		-
			message: '#^Static method WP_CLI\:\:line\(\) invoked with 2 parameters, 0\-1 required\.$#'
			identifier: arguments.count
			count: 1
			path: includes/wp-cli/class-dashboard-directory-size-command.php

		-
			message: '#^Static method WP_CLI\:\:success\(\) invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: includes/wp-cli/class-dashboard-directory-size-command.php

